

<ng-container *ngIf="showPrivate">
  <app-prdash></app-prdash> // page for private
</ng-container>

<ng-container *ngIf="showPage">
  <app-prdash></app-prdash> // page for public
</ng-container>

<ng-container *ngIf="showCorporate">
  <app-prdash></app-prdash> // page for corporate
</ng-container>

<ng-container *ngIf="showNews">
  <app-prdash></app-prdash> // page for news
</ng-container>

<ng-container *ngIf="showBCC">
  <app-prdash></app-prdash> // page for BCC
</ng-container>

<ng-container *ngIf="showPANDL">
  <app-prdash></app-prdash> // page for PANDL
</ng-container>
