
<footer>
    <div class="container">
        <div class="d-flex justify-content-between" id="icons">
            <a (click)="goToHome()">
                <img class="images rounded-circle" src="assets/icons/home.svg" width="50" height="50"/>
            </a>
            <a (click)="goToSearch()">
                <img class="images rounded-circle" src="assets/icons/search.svg" width="50" height="50"/>
            </a>
            <a (click)="goToAlerts()">
                <img class="images rounded-circle" src="assets/icons/notifications.svg" width="50" height="50"/>
            </a>
            <a (click)="goToMainMenu()">
                <img class="images rounded-circle" src="assets/icons/menu.svg" width="50" height="50"/>
            </a>
        </div>
    </div>
</footer>
