
<footer>
    <div class="container">
        <div class="d-flex justify-content-between" id="icons">
            <a (click)="goToHome()"> // home ( page for Feed, Follow, Stories ) 
                <img class="images rounded-circle" src="assets/icons/home.svg" width="50" height="50"/>
            </a>
            <a (click)="goToHome()"> // news 
                <img class="images rounded-circle" src="assets/icons/home.svg" width="50" height="50"/>
            </a>
            <a (click)="goToSearch()"> // search ( like x or twitter search )
                <img class="images rounded-circle" src="assets/icons/search.svg" width="50" height="50"/>
            </a>
            <a (click)="goToAlerts()"> // dashboard ( like My Network in LinkedIN ) 
                <img class="images rounded-circle" src="assets/icons/notifications.svg" width="50" height="50"/>
            </a>
            <a (click)="goToMainMenu()"> // panel ( panel for facebook )
                <img class="images rounded-circle" src="assets/icons/menu.svg" width="50" height="50"/>
            </a>
        </div>
    </div>
</footer>
