
<ul class="nav d-flex justify-content-around" id="hpage">
    <li class="nav-item">
        <a>
            <img class="images rounded-circle" src="assets/home.svg" width="50" height="50"/>
        </a>
    </li>
    <li class="nav-item">
        <a>
            <img class="images rounded-circle" src="assets/smart_display.svg" width="50" height="50"/>
        </a>
    </li>
</ul>
<hr>

<div class="card">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium rerum officiis, vitae corporis, obcaecati ad iste alias aperiam velit voluptatibus, dolore inventore ipsam modi! Exercitationem blanditiis nihil fugit ipsa illum.</p>
</div>

<div class="card">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium rerum officiis, vitae corporis, obcaecati ad iste alias aperiam velit voluptatibus, dolore inventore ipsam modi! Exercitationem blanditiis nihil fugit ipsa illum.</p>
</div>

<div class="card">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium rerum officiis, vitae corporis, obcaecati ad iste alias aperiam velit voluptatibus, dolore inventore ipsam modi! Exercitationem blanditiis nihil fugit ipsa illum.</p>
</div>
