

<aside class="sidebar">
  <ul class="nav">
    <button type="button" class="btn btn-outline-secondary d-grid gap-2 col-6 mx-auto" (click)="openModal()">Create</button>
    <li class="nav-item" (click)="openModal()">
      <a class="nav-link">Create</a>
    </li>
    <hr>
    <li class="nav-item" [routerLink]="['/feed']" routerLinkActive="active">
      <a href="" class="nav-link">Feed</a>
    </li>
    <li class="nav-item" [routerLink]="['/follow']" routerLinkActive="active">
      <a href="" class="nav-link">Follow</a>
    </li>
    <li class="nav-item" [routerLink]="['/stories']" routerLinkActive="active">
      <a href="" class="nav-link">Stories</a>
    </li>
    <li class="nav-item" [routerLink]="['/news']" routerLinkActive="active">
      <a href="" class="nav-link">News</a>
    </li>
    <hr style="color: aqua;">
    <li class="nav-item" [routerLink]="['/search']" routerLinkActive="active">
      <a href="" class="nav-link">Search</a>
    </li>
    <li class="nav-item" [routerLink]="['/notify']" routerLinkActive="active">
      <a href="" class="nav-link">Notifications</a>
    </li>
    <hr style="background-color: aqua;">
    <li class="nav-item" [routerLink]="['/board']" routerLinkActive="active">
      <a href="" class="nav-link">Dashboard</a>
    </li>
    <li class="nav-item" [routerLink]="['/panel']" routerLinkActive="active">
      <a href="" class="nav-link">Panel</a>
    </li>
  </ul>
</aside>



<!-- Modal Structure -->
<div class="modal" [ngClass]="{'show': isModalOpen}">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <p>Create your own content..</p>
    <p class="d-flex justify-content-center d-inline-flex gap-3">
      <button type="button" class="btn" data-bs-toggle="button" [routerLink]="['/panel']" routerLinkActive="active">Create Story</button>
      <button type="button" class="btn" data-bs-toggle="button" [routerLink]="['/panel']" routerLinkActive="active">Create Short</button>
      <button type="button" class="btn" data-bs-toggle="button" [routerLink]="['/panel']" routerLinkActive="active">Create Read</button>
    </p>
  </div>
</div>
