
// need to adding routerLink 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- sidebar.component.html -->
    <aside class="sidebar">
        <ul class="nav">
          <li class="nav-item">
                <a class="nav-link" href="#">Create Story</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Create Short Text</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Create long Text</a> // long.text component file 
            </li>
            <hr>
            <li class="nav-item">
                <a class="nav-link" href="#">Feed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Follow</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Stories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">News</a>
            </li>
            <hr>
            <li class="nav-item">
                <a class="nav-link" href="#">Search</a> // search component file
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Notifications</a> // alerts component file 
            </li>
            <hr>
            <li class="nav-item">
                <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">FC Panel</a>
            </li>
        </ul>
    </aside>
</body>
</html>







<!------
<div class="sidebar" id="sidebar" style="margin-top: 20px;">
    <div class="chip fs-5 w-100" id="nav">
        <a class="navbar-brand">
            <img src="assets/img/HD wallpaper_ girl wearing VR goggle, woman using VR glasses, virtual reality.jpeg" alt="" width="40" height="40"/>
            <span>ruba nasser</span>
        </a>
    </div>
    <hr>
    <div class="container">
        <div class="row text-dark" id="reem">
            <a (click)="goToHome()">
                <img src="assets/icons/home.svg"/>
                <span>home</span>
            </a>
            <a (click)="goToMainMenu()">
                <img src="assets/icons/menu.svg" width="40" height="40"/>
                <span>Main Menu</span>
            </a>
            <a (click)="goToAlerts()">
                <img src="assets/icons/notifications.svg" width="40" height="40"/>
                <span>Alerts</span>
            </a>
            <a (click)="goToInterests()">
                <img src="assets/icons/beenhere_FILL0_wght400_GRAD0_opsz48.svg" width="40" height="40"/>
                <span>Interests</span>
            </a>
            <a (click)="goToFriendships()">
                <img src="assets/icons/friend.svg" width="40" height="40">
                <span>Friends</span>
            </a>
            <a (click)="goToMessages()">
                <img src="assets/icons/message.svg" width="40" height="40"/>
                <span>Messages</span>
            </a>
            <a>
                <img src="assets/icons/settings.svg" width="40" height="40"/>
                <span>Settings</span>
            </a>
            <button (click)="toggleMode()">
                <mat-icon>{{ isDarkMode ? 'brightness_7': 'brightness_4' }}</mat-icon>
            </button>
            <hr>
            <a (click)="goToWinwatch()">
                <img src="assets/icons/smart_display.svg" width="50" height="50"/>
                <span>Watch</span>
            </a>
            <a>
                <img src="assets/icons/smart_display.svg" width="50" height="50"/>
                <span>Podcast</span>
            </a>
            <a>
                <img src="assets/icons/smart_display.svg" width="50" height="50"/>
                <span>Career</span>
            </a>
        </div>
    </div>
</div>
------>
