
// new code 

<div>
        <h1>اختر ما تريد عرضه:</h1>

        <button (click)="toggleDisplay('showAll')">عرض الكل</button>
        <button (click)="toggleDisplay('showPosts')">عرض المنشورات</button>
        <button (click)="toggleDisplay('showProfiles')">عرض الملفات الشخصية</button>
        <button (click)="toggleDisplay('showPages')">عرض الصفحات</button>
        <button (click)="toggleDisplay('showCompanies')">عرض الشركات</button>
        <button (click)="toggleDisplay('showNews')">عرض الأخبار</button>
        <button (click)="toggleDisplay('showPANDL')">عرض P&L</button>
        <button (click)="toggleDisplay('showImages')">عرض الصور</button>
        <button (click)="toggleDisplay('showVideos')">عرض الفيديوهات</button>
      </div>

      <div *ngIf="displayState.showAll">
        <p>محتوى الكل هنا.</p>
      </div>
      <div *ngIf="displayState.showPosts">
        <p>محتوى المنشورات هنا.</p>
      </div>
      <div *ngIf="displayState.showProfiles">
        <p>محتوى الملفات الشخصية هنا.</p>
      </div>
      <div *ngIf="displayState.showPages">
        <p>محتوى الصفحات هنا.</p>
      </div>
      <div *ngIf="displayState.showCompanies">
        <p>محتوى الشركات هنا.</p>
      </div>
      <div *ngIf="displayState.showNews">
        <p>محتوى الأخبار هنا.</p>
      </div>
      <div *ngIf="displayState.showPANDL">
        <p>محتوى P&L هنا.</p>
      </div>
      <div *ngIf="displayState.showImages">
        <p>محتوى الصور هنا.</p>
      </div>
      <div *ngIf="displayState.showVideos">
        <p>محتوى الفيديوهات هنا.</p>
      </div>

// old code 

<app-header></app-header>

<div class="container-fluid d-flex justify-content-center">
    <div class="row" style="margin-top: 90px;">
        <div class="container-fluid col-lg-8 col-md-10">
            <div class="side-menu">
                <ul class="nav d-flex justify-content-around">
                    <li class="nav-item">
                        <a (click)="togglePublic()">Public</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="toggleFriends()">Friends</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="toggleApp()">WikiedIn App</a>
                    </li>
                </ul>
            </div>
            <hr>
            <div class="content">
                <ng-container *ngIf="showPublic">
                    <h2>public</h2>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, neque ut repellat illum sequi voluptates. Vitae, facere. A impedit id facere aliquam aspernatur. Temporibus nostrum labore dolorem sed repudiandae alias.</p>
                    <!-------------------------------------->
                </ng-container>
                <ng-container *ngIf="showFriends">
                    <h2>friends</h2>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae facilis, quaerat aliquid dolore vel asperiores laborum, optio nobis inventore libero ea quae, iusto sed? Inventore quod quibusdam minus et quaerat!</p>
                    <!-------------------------------------->
                </ng-container>
                <ng-container *ngIf="showApp">
                    <h2>WikiedIn App</h2>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, neque ut repellat illum sequi voluptates. Vitae, facere. A impedit id facere aliquam aspernatur. Temporibus nostrum labore dolorem sed repudiandae alias.</p>
                    <!-------------------------------------->
                </ng-container>
            </div>
        </div>
        <div class="row col-lg-4">
            <app-search></app-search>
        </div>
    </div>
</div>

<app-footermain></app-footermain>
