
<div class="container border-start border-end" id="search" style="margin-bottom: 50px;">
  <nav class="navbar">
    <div class="container-fluid">
      <form class="d-flex col-12" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" (click)="goToSearchpage()">Search</button>
      </form>
    </div>
  </nav>
  <hr>
  <div class="container-fluid">
    <div class="row" style="margin: 8px;">
      <div class="hashtag">
        #world
        <p>100,000 posts</p>
      </div>
      <div class="hashtag">
        #Ukraine War
        <p>120,000 posts</p>
      </div>
      <div class="hashtag">
        #el-sisi
        <p>80,000 posts</p>
      </div>
      <div class="hashtag">
        #Sudan
        <p>60,000 posts</p>
      </div>
      <div class="hashtag">
        #world
        <p>100,000 posts</p>
      </div>
      <div class="hashtag">
        #Ukraine War
        <p>120,000 posts</p>
      </div>
      <div class="hashtag">
        #el-sisi
        <p>80,000 posts</p>
      </div>
      <div class="hashtag">
        #Sudan
        <p>60,000 posts</p>
      </div>
    </div>
  </div>
</div>

